<h1>Clients</h1>
<% @clients.each do |client| %>
  <h3>Name: <%= client.first_name %></h3>
  <h3>Surname: <%= client.last_name %></h3>
  <h3>Injury: <%= client.injury %></h3>
  <h3>Appointment: <%= client.appointment_date %></h3>
<% end %>